# Node modules
/node_modules/

# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Optional: add files/folders related to your specific setup that shouldn't be in the repo
config.json
.env
